{% extends "base.html" %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <script src="{% static 'django_eventstream/json2.js' %}"></script>
    <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <div id="chatroom">
    <div>
        <h2 class="h2">Chat Messages</h2>
        <table class="table">
            <tbody>
                <tr v-for="msg in chat_messages">
                    <td>${msg}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form action="." method="post" class="form-group" id="send-form">
            <label><input type="text" id="chat-input"></label>
            <p><input class="btn-info" type="submit" value="Send"></p>
            {% csrf_token %}
        </form>
    </div>
    </div>
    <script type="text/javascript">
      var vm = new Vue({
          el: '#chatroom',
          delimiters: ['${','}'],
          data: {
              chat_messages: [],
              cur_message: $('#chat-input').val(),
          },
          mounted: function() {
              this.establish_eventstream();
              this.get_messages();
          },
          methods: {
              establish_eventstream: function(){
                  let uri = '/events/?channel=room-' + encodeURIComponent('{{ room_name }}');
                  let es = new ReconnectingEventSource(uri);
                  console.log('stream opened. uri=' + uri);

                  es.addEventListener('open', function () {
                      console.log('Event stream opened')
                  }, false);

                  es.addEventListener('error', function () {
                      console.log('Error. Connection lost. Trying to reconnect')
                  }, false);

                  es.addEventListener('message', function (evt) {
                      // New message comes.
                      console.log(('Message from server: ' + JSON.parse(evt.data).message));
                      if (vm.chat_messages.length > 0) {
                          vm.chat_messages.shift();
                          vm.chat_messages.push(JSON.parse(evt.data).message);
                      }
                  }, false);

                  $('#send-form').submit(function () {
                      let text = $('#chat-input').val();
                      let uri = '/messages/{{ room_name }}/';
                      $.post(uri, {text: text})
                          .done(function (data) {
                              console.log('response data is: ' + data);
                          })
                          .fail(function () {
                              alert('Cannot send message. Please check network connection');
                          })
                          .always(function () {
                              //console.log('Placeholder now...');
                              // Need to clear the input box for the next input
                              let chat_input = $('#chat-input');
                              chat_input.val('');
                              chat_input.focus();
                          });

                      return false;
                  });
              },
              get_messages: function () {
                  this.$http.get('/messages/{{ room_name }}')
                      .then((response) => {
                          console.log('return messages:' + response.data);
                          vm.chat_messages = response.data;
                      })
                      .catch((err) => {
                          console.log(err);
                      })
              }
          }
      })
    </script>
{% endblock %}