{% extends "base.html" %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <script src="{% static 'django_eventstream/json2.js' %}"></script>
    <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <div id="chatroom">
    <div>
        <h2 class="h2">Chat Messages</h2>
{#        <p class="item">Chat Messages</p>#}
        {% for message in prev_messages %}
            <p>
            {{ message }}
            </p>
        {% endfor %}
    </div>
    <div>
{#        <p>chat</p>#}
        <form action="." method="post" class="form-group">
{#            <p><label><input type="text" id="chat-input"></label></p>#}
            <span class="text">{{ form.as_p }}</span>
            <p><input class="btn-info" type="submit" value="Send"></p>
            {% csrf_token %}
        </form>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script type="text/javascript">
      var vm = new Vue({
          el: '#chatroom',
          delimiters: ['${','}'],
          data: {
              chat_log: [],
          },
          mounted: function() {
              this.conn_eventstream();
          },
          methods: {
              conn_eventstream: function(){
                  let uri = '/events/?channel=room-' + encodeURIComponent('{{ room_name }}');
                  let es = new ReconnectingEventSource(uri);
                  console.log('stream opened. uri=' + uri);

                  es.addEventListener('open', function () {
                      console.log('Event stream opened')
                  }, false);

                  es.addEventListener('error', function () {
                      console.log('Error. Connection lost. Trying to reconnect')
                  }, false);

                  es.addEventListener('message', function (evt) {
                      console.log(('Message from server: ' + evt.data))
                  }, false)
              }
          }
      })
    </script>
{% endblock %}